<%= form_for(@newsletter) do |f| %>
  <% if @newsletter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@newsletter.errors.count, "error") %> prohibited this newsletter from being saved:</h2>

      <ul>
      <% @newsletter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :subject %><br>
    <%= f.text_field :subject %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.text_field :date %>
  </div>
  <div class="field">
    <%= f.label :sender %><br>
    <%= f.text_field :sender %>
  </div>
  <div class="field">
    <%= f.label :teaser_text %><br>
    <%= f.text_field :teaser_text %>
  </div>
  <div class="field">
    <%= f.label :naceda_news %><br>
    <%= f.text_area :naceda_news %>
  </div>
  <div class="field">
    <%= f.label :member_news %><br>
    <%= f.text_area :member_news %>
  </div>
  <div class="field">
    <%= f.label :federal_news %><br>
    <%= f.text_area :federal_news %>
  </div>
  <div class="field">
    <%= f.label :partner_news %><br>
    <%= f.text_area :partner_news %>
  </div>
  <div class="field">
    <%= f.label :naceda_events %><br>
    <%= f.text_area :naceda_events %>
  </div>
  <div class="field">
    <%= f.label :member_events %><br>
    <%= f.text_area :member_events %>
  </div>
  <div class="field">
    <%= f.label :federal_events %><br>
    <%= f.text_area :federal_events %>
  </div>
  <div class="field">
    <%= f.label :partner_events %><br>
    <%= f.text_area :partner_events %>
  </div>
  <div class="field">
    <%= f.label :jobs %><br>
    <%= f.text_area :jobs %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
