<p id="notice"><%= notice %></p>

<h1>All Saved Newsletters</h1>

<table class="table">
  <thead>
    <tr>
      <th>Subject</th>
      <th>Date</th>
      <th>Sender</th>
      <th>Teaser text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @newsletters.each do |newsletter| %>
      <tr>
        <td><%= newsletter.subject %></td>
        <td><%= newsletter.date %></td>
        <td><%= newsletter.sender %></td>
        <td><%= newsletter.teaser_text %></td>
        <td><%= link_to 'View', newsletter_path(newsletter), :class => "c-button c-button--primary" %></td>
        <td><%= link_to 'Edit', edit_newsletter_path(newsletter), :class => "c-button c-button--info" %></td>
        <td><%= link_to 'Destroy', newsletter, method: :delete, data: { confirm: 'Are you sure? This cannot be undone.' }, :class => "c-button c-button--danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

    <%= link_to 'New Newsletter', new_newsletter_path, :class => "c-button c-button--primary" %>
