<% content_for :page_title do %>
  Newsletter Preview
<% end %>

<% content_for :body_class do %>
  preview
<% end %>

<% content_for :page_header do %>
<% end %>

<div class="u-row">
  <section class="c-notice c-notice--info" role="alert">
      <p><span class="icon-info" aria-hidden="true"></span>
      To make changes, <a href="<%= edit_newsletter_path(@newsletter) %>">go back to your form</a>.</p>
    </section>

  <section id="metadata">
    <ul>
      <% if @newsletter.subject.present? %>
        <li><strong>Subject:</strong> <%= @newsletter.subject %></li>
      <% end %>
      <% if @newsletter.sender.present? %>
        <li><strong>Sender:</strong> <%= @newsletter.sender %></li>
      <% end %>
      <% if @newsletter.teaser_text.present? %>
        <li><strong>Teaser Text:</strong> <%= @newsletter.teaser_text %></li>
      <% end %>
    </ul>
  </section>
</div>

<div class="u-row">
  <section id="preview">
    <h2>Preview</h2>
    <iframe src="<%= preview_newsletter_path(@newsletter) %>"></iframe>
  </section>

  <section id="code">
    <h2>Code</h2>
    <button class="c-button c-button--primary" id="copy-code" data-clipboard-target="#raw">
      <span class="icon-clipboard" aria-hidden="true"></span>
      Copy to clipboard
    </button>
    <textarea id="raw" readonly><%= @email %></textarea>
  </section>
</div>

<script type="text/javascript">
  new Clipboard('#copy-code');
</script>
