<% content_for :page_title do %>
  Newsletter Preview
<% end %>

<% content_for :body_class do %>
  preview
<% end %>

<% content_for :page_header do %>
  <div id="metadata">
    <ul>
      <% if @newsletter.subject.present? %>
        <li><strong>Subject:</strong> <%= @newsletter.subject %></li>
      <% end %>
      <% if @newsletter.sender.present? %>
        <li><strong>Sender:</strong> <%= @newsletter.sender %></li>
      <% end %>
      <% if @newsletter.teaser_text.present? %>
        <li><strong>Teaser Text:</strong> <%= @newsletter.teaser_text %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div>
  <div id="preview">
    <h2>Preview</h2>
    <div class="alert alert-info" role="alert">
      <p><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
      To make changes, <a href="<%= edit_newsletter_path(@newsletter) %>">go back to your form</a>.</p>
    </div>
    <iframe src="<%= preview_newsletter_path(@newsletter) %>"></iframe>
  </div>
  <div id="code" class="col-md-4">
    <h2>Code</h2>
    <button class="btn btn-primary" id="copy-code" data-clipboard-target="#raw">
      <span class="glyphicon glyphicon-copy" aria-hidden="true"></span>
      Copy to clipboard
    </button>
    <textarea id="raw" readonly><%= @email %></textarea>
  </div>
</div>

<script type="text/javascript">
  new Clipboard('.btn');
</script>
