<% content_for :page_title do %>
  News from Naceda
<% end %>

<% content_for :teaser_text do %>
  <%= @newsletter.teaser_text %>
<% end %>

<% content_for :banner_image do %>
  https://naceda.memberclicks.net/assets/NACEDA_NetworkNews_Masthead.jpg
<% end %>

<% content_for :banner_alt do %>
  Network News: News You Can Use to Advance Community Prosperity
<% end %>

<% content_for :banner_title do %>
  <h1>News <span class="small">from</span> NACEDA</h1>
  <p class="tagline">News You Can Use to Advance Community Prosperity</p>
<% end %>

<% if @newsletter.federal_news.present? %>
  <!-- STRIP: Begin Policy Update -->
  <h2>Policy Update</h2>
  <%= sanitize @newsletter.federal_news %>
<% end %>

<% if @newsletter.naceda_news.present? %>
  <!-- STRIP: Begin Thriving Networks -->
  <%= render 'layouts/email_hr' %>
  <h2>Thriving Networks</h2>
  <%= sanitize @newsletter.naceda_news %>
<% end %>

<% if @newsletter.member_news.present? %>
  <!-- STRIP: Begin Healthy Places -->
  <%= render 'layouts/email_hr' %>
  <h2>Healthy Places</h2>
  <%= sanitize @newsletter.member_news %>
<% end %>

<% if @newsletter.partner_news.present? %>
  <!-- STRIP: Begin Creative Places -->
  <%= render 'layouts/email_hr' %>
  <h2>Creative Places</h2>
  <%= sanitize @newsletter.partner_news %>
<% end %>

<% if @newsletter.resources.present? %>
  <%= render 'layouts/email_hr' %>
  <h2>Resources</h2>
  <%= sanitize @newsletter.resources %>
<% end %>

<% if @newsletter.jobs.present? %>
  <%= render 'layouts/email_hr' %>
  <h2>Job Postings</h2>
  <%= sanitize @newsletter.jobs %>
  <p><em>To post a job opportunity, contact <a href="mailto:sgunther@naceda.org">Suzanne Gunther</a>. A $25 donation is suggested.</em></p>
  <%= render 'layouts/email_hr' %>
<% end %>

<h2>Funding Opportunities</h2>
<p>Go to our website for current grant opportunities. They're updated throughout the month.</p>
<%= render 'layouts/email_button', url: "http://naceda.org/funding-opportunities", text: "Funding Opportunities" %>
