<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>
        <!--[if mso]>
          <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="<%= url %>" style="height:36px;v-text-anchor:middle;width:300px;" strokecolor="#ccc" fillcolor="#ccc">
            <w:anchorlock/>
            <center style="color:#ffffff;><%= text %></center>
          </v:roundrect>
        <![endif]-->
        <a href="<%= url %>" class="button" title="<%= url %>"><%= text %></a>
    </td>
  </tr>
</table>
