<!DOCTYPE html>
<html>
<head>
  <title>NACEDA HTML Email Creator</title>
  <meta charset="UTF-8">
  <meta description="This is a web application designed for NACEDA by Katie Fritz. It's meant to make it easy to create fancy HTML emails using predesigned templates.">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.8/clipboard.min.js"></script>
</head>
<body class="<%= yield(:body_class) %>">
  <%= render 'layouts/app/navbar' %>

  <main class="u-container">

    <div class="c-page-header">
      <h1><%= yield(:page_title) %></h1>
      <%= yield(:page_header) %>
    </div>

    <%= yield %>

  </main><!-- end u-container -->

  <%= render 'layouts/app/footer' %>

    <%= javascript_include_tag 'application' %>
</body>
</html>
